name: Build and Test

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

jobs:
  test-build:
    runs-on: ubuntu-latest
    container: debian:trixie

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install base dependencies
      run: |
        apt update
        apt install -y \
          build-essential \
          devscripts \
          debhelper \
          dh-autoreconf \
          dh-python \
          autoconf \
          automake \
          libtool \
          pkg-config \
          libpam0g-dev \
          libkeyutils-dev \
          libjansson-dev \
          uuid-dev \
          libssl-dev \
          libbsd-dev \
          libidn-dev \
          python3-dev \
          python3-all-dev \
          python3-pip \
          python3-setuptools \
          python3-build \
          python3-installer \
          python3-pytest \
          python3-pycryptodome \
          pybuild-plugin-pyproject \
          git

    - name: Build and install truenas_scram
      run: |
        cd /tmp
        git clone https://github.com/truenas/truenas_scram.git
        cd truenas_scram
        dpkg-buildpackage -us -uc -b
        dpkg -i ../libtruenas-scram1_*.deb
        dpkg -i ../libtruenas-scram-dev_*.deb

    - name: Build and install truenas_pwenc
      run: |
        cd /tmp
        git clone https://github.com/truenas/truenas_pwenc.git
        cd truenas_pwenc
        dpkg-buildpackage -us -uc -b
        dpkg -i ../libtruenas-pwenc1_*.deb
        dpkg -i ../libtruenas-pwenc-dev_*.deb
        dpkg -i ../python3-truenas-pwenc*.deb

    - name: Build and install truenas_pykeyring
      run: |
        cd /tmp
        git clone https://github.com/truenas/truenas_pykeyring.git
        cd truenas_pykeyring
        dpkg-buildpackage -us -uc -b
        dpkg -i ../python3-truenas-pykeyring_*.deb

    - name: Test Debian package build
      run: |
        dpkg-buildpackage -us -uc -b

    - name: Install and verify packages
      run: |
        dpkg -i ../libpam-truenas_*.deb
        dpkg -i ../python3-truenas-pam-utils_*.deb
        # Verify PAM module is installed
        test -f /usr/lib/security/pam_truenas.so
        # Verify Python modules are importable
        python3 -c "import truenas_pam_session"
        python3 -c "import truenas_pam_faillog"
